/* CSS code for the button used on every page*/

.button-section {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}